{% extends 'core/base.html' %} {% load humanize %} {% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title">Seguindo - {{ user.username }}</h1>

      <p>Você segue {{ user.profile.follows.count }} pessoas</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-8">
      {% for oinker in user.profile.follows.all %}
      <p>
        <a href="{% url 'profile' oinker.user.username %}"
          >{{ oinker.user.username }}</a
        >
      </p>
      {% empty %} {% if request.user == user %}
      <p>Você ainda não segue ninguém!</p>
      {% else %}
      <p>{{ user.username }} isnt't following anyone!</p>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
