{% extends 'core/base.html' %} {% load humanize %} {% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title">Pesquisar</h1>

      <p>Termo buscado "{{ query }}"</p>

      <hr />

      <form method="get" action="{% url 'search' %}">
        <div class="field">
          <div class="control">
            <input type="text" class="input" name="query" value="{{ query }}" />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-success">Pesquisar</button>
          </div>
        </div>
      </form>

      <hr />

      <div class="search-results">
        {% if not oinkers and not oinks %}
        <p>Nenhum resultado encontrado</p>
        {% endif %} {% if oinkers %}
        <strong>Usuários</strong>

        {% for oinker in oinkers %}
        <p>
          <a href="{% url 'profile' oinker.username %}"
            >{{ oinker.username }}</a
          >
        </p>
        {% endfor %} {% endif %} {% if oinks %}
        <strong>Oinks</strong>

        <div class="wrapper-oinks">
          {% for oink in oinks %}
          <div class="oink">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  {% if oink.created_by.profile.avatar %}
                  <img src="{{ oink.created_by.profile.avatar.url }}" />
                  {% endif %}
                </p>
              </figure>

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong
                      ><a href="{% url 'profile' oink.created_by.username %}"
                        >{{ oink.created_by.username }}</a
                      ></strong
                    >
                    <small>{{ oink.created_at|naturaltime }}</small>
                    <br />
                    {{ oink.body }}
                  </p>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
